*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  max-width: 100%;
  background-color: rgb(24, 24, 24);
}

body{
  margin: 0 auto;
  padding: 20px 50px;
}

#root{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}